body {
    text-align: center;
}

#body{
  padding: 0;
  padding-bottom: 60px;
}

.top-nav{
  overflow: hidden;
  font-family: "Arial";
  font-size: 13px;
  font-color: #6e6e6a;
  text-align: center; 
}

#top-nav1 {
    display: inline-block;
    float: left;
    margin: 20px;
    text-decoration: none;
}

#top-nav1 a{
  text-decoration: none;
  color: #6e6e6a;
}

#top-nav1 a:hover{
  text-decoration: underline;
}

#top-nav2 {
    float: right; 
    margin: 22px;
    font-size: 13px;
    text-decoration: none;
}

#top-nav2 a{
    text-decoration: none;
    color: #6e6e6a;
}

#top-nav2 a:hover{
  text-decoration: underline;
}

#top-nav3 {
    float: right; 
    margin: 5px;
}
#menu {
 width: 35px
}

#user {
  width: 42px;
}
input {
    border: 1px solid #eaeaea;
    margin: 10px;
    padding: 10px;
}

input[type="text"] {
    border-radius: 20px;
    outline: none;
    height: 20px;
    font-size: 15px;
}

input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus {
    border-color: #4d90fe;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;

}

.search-bar {
    padding-top: 30px;
    margin: 10px;
    transform: translateX(-50%);
}

.form {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    
}

.google-search {
    display: inline-block;
}

#search-button {
    border-radius: 5px;
    background-color: #f0eee9;
    font-size: 14px;
    width: 150px;
}

#search-button:hover {
    background-color: white;
}

#lucky-button {
    border-radius: 5px;
    background-color: #f0eee9;
    font-size: 14px;
    width: 150px;
}

#lucky-button:hover {
    background-color: white;
}

#search-bar{
    width: 200%;
    font-family: "Arial";
    font-size: 15px;
    font-color: #545454;
}
